@font-face {
    font-family:'851MkPOP';
    src:url('font/851MkPOP_002.ttf');
}
@font-face {
    font-family:'jf-openhuninn';
    src:url('font/jf-openhuninn-1.1.ttf');
}
.title{
    color : black;
    font-size:  30px;
    font-weight: bold;
}
.title2{
    color : black;
    font-size:  20px;
    font-weight: bold;
}
.titleText{
    color : pink ;
    font-size: 50px;
    font-weight: bold;  
}
.titleText2{
    color : #efb864;
    font-size:  50px;
    font-weight: bold;  
}
.mainblockText{
    font-size:  40px;
    font-weight: bold;  
}
.flyers{
    color : black;
    font-size:  30px;
    font-weight: bold;
    font-family:'851MkPOP';
}
.noteTitle{
    color : blue;
    font-size:  30px;
    font-weight: bold;
    font-family:'851MkPOP';
}
.noteText{
    font-size:  20px;
    font-weight: bold;
}
.articleTitle{
    color : black;
    font-size:  45px;
    font-weight: bold;
    font-style: italic;
    font-family:'jf-openhuninn';
}
.articleText{
    font-size:  20px;
    font-weight: bold;
}