.articleText{
    font-size: 40px;
    padding-left: 50px;
}
.insideText{
    font-size: 20px;
    padding-left: 50px;
}
.uploadText{
    font-size: 20px;
    padding-left: 50px;
    color: red;

}



/********************************************/
