.text{
    color : white;
    font-size:  30px;
    font-weight: bold; 
    font-style: italic; 
}
.titleText{
    color : pink ;
    font-size: 50px;
    font-weight: bold;  
}
.titleText2{
    color : #efb864;
    font-size:  50px;
    font-weight: bold;  
}
.titleUrl{
    color : blueviolet ;
    font-size: 30px;
    font-weight: bold;  
}
.image1{
    border: 5px dashed pink;
}
.image2{
    border: 5px dashed #efb864; 
}

.box {
    height: 717px;
    width: 1500px;
    display: flex;
    flex-direction: row;
    margin-left: 0%;
    
  }
  
 .item {
    width: 220px;
    height:3000px;
    
 }
  
.item1 {
    overflow:auto;
    height: 800px;
}
  
.item2 {
    background: rgba(255, 255, 255, 0.6);float: left;
    flex-grow: 1;
    border:5px #FFAC55 solid; 
    height:3000px;
 }

.item3 {
    float: left;
 }

.body{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0%;
    margin-right: 0%;
    background-image: url("img/backgroundnew.png");
    background-size: cover;
    background-attachment: fixed;
}
#button{ width: 200px;
    height: 200px;
    background-color:#ddd;}

    #menu_toggle{
        width:40px;
        height:30px;
        background-color: #222;
        border-radius:5px;
      }
      
  
      #box {
        display: none;
        width: 1500px;
        height: 800px;
        background-color: red;
        }
        #menu {
            height: 720px;
            position: fixed;
            margin-left: 0px;
            width: 220px;
            margin-top: 0px;
            overflow:auto;
            background: rgba(0, 0, 0, 0.5);
          }

        .test{
            font-style: italic;
            color: white;
        }
/*
::-webkit-scrollbar { width: 15px; }
::-webkit-scrollbar-track { background: #fff; }
::-webkit-scrollbar-track-piece{ background: #fff; }
::-webkit-scrollbar-thumb { background: blueviolet; }
::-webkit-scrollbar-thumb:hover { background: #aaa; }*/
#audio{

    margin:0.25rem 0;           

    height:30px;

    width: 130px;

    background:rgb(187, 221, 213);

    background: linear-gradient(90deg, rgba(255,255,255,0.82) 0%, rgba(255,255,255,1) 100%);


}

.musicContainer{
    width: 150px;
    background-color: white;
}
.fix{
    height: 15px;
}