.text{
    color : white;
    font-size:  30px;
    font-weight: bold; 
    font-style: italic; 
}
.titleText{
    color : pink ;
    font-size: 50px;
    font-weight: bold;  
}
.titleText2{
    color : #efb864;
    font-size:  50px;
    font-weight: bold;    
}
.titleUrl{
    color : blueviolet ;
    font-size: 30px;
    font-weight: bold;  
}
.image1{
    border: 5px dashed pink;
}
.image2{
    border: 5px dashed #efb864; 
}






#main > article {
    margin: 4px;
    padding: 5px;
    border: 1px solid #cccc33;
    border-radius: 7pt;
    background: #dddd88;
    flex: 3 1 60%;
    order: 2;
}

#main > nav {
    margin: 4px;
    padding: 5px;
    border: 1px solid #8888bb;
    border-radius: 7pt;
    background: #ccccff;
    flex: 1 6 20%;
    order: 1;
}

.box {
    height: 1080px;
    width: 1500px;
    border: #696969 1px solid;
    display: flex;
    flex-direction: row;
  }
  
  .item {
    width: 300px;
  }
  
  .item1 {
    background: rgba(0, 0, 0, 0.7);  
    overflow:auto;
  }
  
  .item2 {
    background: rgba(255, 255, 255, 0.5);
    flex-grow: 1;
  }
  
  .item3 {
    background: #faf;
  }


.body{
    background-image: url("img/backgroundnew.png");
    background-attachment: fixed;
}



/* 整個捲軸 */
::-webkit-scrollbar { width: 15px; }
/* 捲軸的軌道 */
::-webkit-scrollbar-track { background: #fff; }
/*捲軸尚未滑到的軌道*/
::-webkit-scrollbar-track-piece{ background: #fff; }
/* 滑動的區塊 */
::-webkit-scrollbar-thumb { background: blueviolet; }
/* 滑鼠移到滑動的區塊上 */
::-webkit-scrollbar-thumb:hover { background: #aaa; }

