h3:hover{
    color: wheat;
}
a{
    text-decoration:none;
}

.span__mainText{
    color: #b54bfc;
    font-size: 50px;
}

.typer{
    color: #b54bfc;
    font-size: 30px;
}

.ty .typed-cursor {
    color: #b54bfc;
    font-size: 30px;
}
#translation{
    background-color: #fff;
    overflow: scroll;
}
#translation::-webkit-scrollbar {
    display: none;
  }

.mainArticleTime{
    color: gray;
}
.main-author{
    text-align: right;
}
.articleInformation{
    color: gray;
    font-style: italic;
    font-size: 20px;
}
.url{
    color: hotpink;
    font-size: 20px;
}
.url:hover{
    color: cornflowerblue;
    font-size: 25px;
}

.navMain{
    font-size: 20px;
    color: snow;
}

.navMain:hover{
    font-size: 20px;
    color: snow;
}

.navTitle:hover{
    font-size: 20px;
}
.tag{
    color:rgba(255, 255, 255, 0.8);
}
.boldText{font-weight:bold;}
.body{
    background-image: url("https://pbs.twimg.com/media/FvBIwfmakAAxb9k?format=jpg&name=large");
    background-size: cover;
    background-attachment: fixed;
    font-family:'ch';
    font-weight:bold;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    
}
.bodyMask {
    background: rgba(255, 255, 255, 0.8);
    margin-bottom: 0px;
}
.bodyc {
    padding-bottom: 2%;
    height: 250px;
}
.code{
    font-size:  20px;
    font-weight: bold;
    font-style: italic;
}
.cover{
    padding-top: 10px;
    border-radius: 20px;
    width: 100%
}
.article__cover{
    border-radius: 20px;
    width: 100%;
    max-height: 200px;
}

.article__title{
    color: rgb(71, 117, 244);
    font-weight: bold;
}
.article__title:hover{
    color: rgb(13, 237, 5);
}

.span__article{
    padding-right: 20px;
}
.stand{
    background-image: url("https://tonikawa.com/assets/images/common/special/oyomesan-gallery/img_oyomesan-gallery_03.jpg");
    background-size: cover;
}
.title{
    color : black;
    font-size:  30px;
    font-weight: bold;
}
.textJP{
    font-family:'851MkPOP';
}
.articleMain{
    border: 5px dashed cornflowerblue;
    margin-left: 100px;
    margin-right: 100px;
}
.articleTitle{
    font-weight: bold;
}

.noteText{
    font-size:  20px;
    font-weight: bold;
}
.noteTitle{
    color : blue;
    font-size:  30px;
    font-weight: bold;
    font-family:'851MkPOP';
}
.imageD{
    width:30vw;
    height:30vh;
}
.imageF{
    font-size:10vw;
    font-size:10vh;
}
.grey{
    color: #999595;
    text-align: center;
}
.grey:hover{
    color: #999595;
}

.textarea__markdown {
    height: 300px;
}
.input__hidden{
    display: none;
}
@font-face {
    font-family:'851MkPOP';
    src:url('../font/851MkPOP_002.ttf');
}
@font-face {
    font-family:'jf-openhuninn';
    src:url('../font/jf-openhuninn-1.1.ttf');
}
@font-face {
    font-family:'ch';
    src:url('../font/GenJyuuGothic-Medium.ttf');
}