body{
    background-image: url("https://www.plastic-memories.jp/assets/img/special/present/twpresent02/1920_1080.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-weight:bold;
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: multiply;
}
.navMain{
  border-radius: 10px;
  color: rgb(40, 0, 243);
}
.navMain:hover{
  background-color: violet;
  color: white;
}
.navTitle{
  border-radius: 10px;
  font-weight: bold;
  color: rgb(40, 0, 243);
}
.navTitle:hover{
  font-size: 18px;
  background-color: violet;
  color: white;
}

.x{
    height: auto;
}
.v{
    padding-top: 15%;
    padding-left: 15%;
    padding-right: 15%;
}
.form-control {
    font-size: 25px;
    border-width: 3px;
    border-color: rgb(255, 184, 41);
    color: white;
    background-color: cornflowerblue;
    font-weight: bold;
  }
.form-control:focus {
    font-size: 30px;
    border-color: rgb(212, 255, 0);
    color: black;
    background-color: rgb(153, 246, 255);
    font-weight: bold;
  }
  .btn{
    background-color: rgb(237, 164, 255);
    color: black;
  }