{% extends "base.html" %}

{% block title %}首頁{% endblock %}

{% block page %}Home{% endblock %}

{% block main %}
<div class="row bodyc wow animate__fadeInRight">
    <div class="col-4">
      <img src="https://onimai.jp/special/img/endcard_12.jpg" class="article__cover">
    </div>
    <div class="col-8">
      <div class="col-12">
        <a href="/hanamaru" class="article__title">
          <h2>PJSK初次拆包</h2>
        </a>
      </div>
      <div class="col-12">
        <span>MLTD拆包拆了一段時間，還真的扛不住了，想說轉移跑道拆別的，就跑去PJSK了， 結果找了找，果然有人拆過放教學了，那我就來分享一下這次拆包的經歷好了。(感謝黑鯨大大提供的資料，下面腳本的部分有連結，可以去參觀一下)...</span>
      </div>
      <div class="col-12">
        <hr>
      </div>
      <div class="col-12">
        <i class="fa-regular fa-calendar-check fa-bounce fa-lg"></i>
        <span class="span__article">2023/1/1</span>
        <i class="fa-solid fa-at fa-flip fa-lg"></i>
        <span class="span__article">SeaotterMS</span>
        <i class="fa-sharp fa-solid fa-tags fa-beat-fade fa-lg"></i>
        <span class="span__article">技術文</span>
      </div>
      <div class="col-12">
      </div>
    </div>
</div>
<div class="row bodyc wow animate__fadeInRight" data-wow-iteration: infinite>
  <div class="col-4">
    <img src="../../static/img/cover.jpg" class="article__cover">
  </div>
  <div class="col-8">
    <div class="col-12">
      <a href="/hanamaru" class="article__title">
        <h2>PJSK初次拆包</h2>
      </a>
    </div>
    <div class="col-12">
      <span>MLTD拆包拆了一段時間，還真的扛不住了，想說轉移跑道拆別的，就跑去PJSK了， 結果找了找，果然有人拆過放教學了，那我就來分享一下這次拆包的經歷好了。(感謝黑鯨大大提供的資料，下面腳本的部分有連結，可以去參觀一下)...</span>
    </div>
    <div class="col-12">
      <hr>
    </div>
    <div class="col-12">
      <i class="fa-regular fa-calendar-check fa-bounce fa-lg"></i>
      <span class="span__article">2023/1/1</span>
      <i class="fa-solid fa-at fa-flip fa-lg"></i>
      <span class="span__article">SeaotterMS</span>
      <i class="fa-sharp fa-solid fa-tags fa-beat-fade fa-lg"></i>
      <span class="span__article">技術文</span>
    </div>
    <div class="col-12">
    </div>
  </div>
</div>
{% endblock %}
{% block script %}<script src="../../static/js/hanamaruWeb.js"></script>{% endblock %}