<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" /> -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
        <link rel="icon" href="{{ url_for('static', path='img/icon.ico') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <title>海獺的Galgame記錄站:{% block title %}{% endblock %}</title>
    </head>
    <body class="body">
        <nav  class="navbar navbar-light" style="background-color: #f7c17f;">
            <div class="container-fluid">
              <a class="navMain boldText" href="/">海獺的Galgame記錄站</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="background-color: #f7c17f;">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title navMain boldText" id="offcanvasNavbarLabel">海獺的Galgame記錄站</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link active navTitle" aria-current="page" href="/">首頁</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active navTitle" href="/resource">資源</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active navTitle" href="/aboutme">關於我</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active navTitle" href="/newGalgameArticle">新增Galgame文章</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active navTitle" href="/newArticle">新增文章</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active navTitle" href="/databaseOperate">資料庫操作</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        </nav>
        <div class="row container-fluid">
          <div class="col-2 text-center" id="leftSection"></div>
            <div class="col-8 bodyMask">
                <div>
                    <img src="../static/img/cover.jpg" class="img">
                </div>
                <hr>
                <div>
                    <h1 class="display-4 bol mainText">海獺的Galgame記錄站</h1>
                    <h2 class="textJP">{% block page %}{% endblock %}</h2>
                    <hr class="my-4">
                </div>
                {% block main %}{% endblock %}
                <hr>
                <br><br><br><br><br>
                <div class="grey">
                <a>技術整合:SeaotterMS</a>
                </div>
                <br>
            <div class="col-2"></div>
          </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="../static/articleTool.js"></script>
        {% block script %}{% endblock %}
    </body>
</html>