{% extends "main.html" %}

{% block title %}新增文章{% endblock %}
{% block page %}追加記事{% endblock %}
{% block main %}
    <form class="row g-3 was-validated" action="/submmit" method="post">
        <div class="col-md-12">
            <label for="workName" class="form-label">標題</label>
            <input type="text" name='information' class="form-control" id="workName" value="" required>
            <div id="workNameFeedback" class="invalid-feedback">
                請填寫標題
            </div>
        </div>
        <div class="col-md-6">
            <label for="author" class="form-label">作者</label>
            <input type="text" name='information' class="form-control" id="author" value="" required>
            <div id="authorFeedback" class="invalid-feedback">
                請填寫作者
            </div>
        </div>
        <div class="col-md-6">
            <label for="tag" class="form-label">標籤</label>
            <select id="tag" name='information' class="form-select is-invalid" required>
                <option selected disabled value="">選擇標籤...</option>
                <option>泣系類型</option>
            </select>
        </div>
        <div class="col-12">
            <label for="experience" class="form-label">內文/心得-(採用HTML格式)</label>
            <textarea name='information' class="form-control is-invalid" id="experience" rows="3" placeholder="文章不得為空白" required></textarea>
        </div>
        <div class="col-auto">
            <label for="password" class="form-label">請輸入密碼</label>
            <input type="password" name='information' class="form-control is-invalid" id="password" placeholder="Password" required>
        </div>
        
        <div class="col-12">
            <button class="btn btn-primary" type="submit">送出</button>
        </div>
    </form>
    <form>
        <textarea id="text" cols="40" rows="3"></textarea>
        <input type="button" value="[tag_label]" />
    </form>
{% endblock %}