{% extends "main.html" %}

{% block title %}資源{% endblock %}

{% block page %}resource{% endblock %}

{% block main %}
    <div>
        <h3>常用工具:</h3>
        <a href="http://www03.eyny.com/thread-10250599-1-DLBRAFTX.html" class="url" target="_blank">[教學]第一次玩GALGAME就上手</a>
    </div>
    <hr>
    <div>
        <h3>統整網站:</h3>
        <a href="https://inoriame.blogspot.com/2021/07/ver4.html" class="url" target="_blank">祈雨の随意領域: GalGame漢化列表ver4</a>
    </div>
    <hr>
    <div>
        <h3>歌曲鑑賞:</h3>
        <a href="https://www.youtube.com/watch?v=maOhOacQhz8&t=3164s" class="url" target="_blank">【投票受付中】FINAL みんなのギャルゲ/エロゲ音楽TOP202 Part2/2 VN Music Ranking with Romaji/Eng Sub.</a><br>
        <a href="https://www.youtube.com/watch?v=JJcaMkk9d50" class="url" target="_blank">【2010年～】【批評空間90点以上】心に響く感動系エロゲソング＋ゲーソン Fullメドレー Vol.2</a><br>
        <a href="https://www.youtube.com/watch?v=ZwRMh89IsnE" class="url" target="_blank">【作業用BGM】 私的 エロゲソングメドレー 【FULL】</a><br>
        <a href="https://www.youtube.com/watch?v=gofdBUnjbgE&t=2372s" class="url" target="_blank">【作業用BGM】神曲エロゲソングメドレー⑤【歌詞つき】</a><br>
        <a href="https://www.youtube.com/watch?v=FzBZOZ8Opt8" class="url" target="_blank">【1.8万票】2019 みんなのギャルゲ/エロゲソング TOP200 Part2/2【YouTube+ニコ動】</a><br>
    </div>
    <hr>
    <div>
        <h3>其他相關網站:</h3>
        <a href="https://seiya-saiga.com/game/kouryaku.html" class="url" target="_blank">誠也の部屋 ▲PCゲーム攻略一覧▲</a><br>
    </div>
{% endblock %}